# Treat all files in the Go repo as binary, with no git magic updating
# line endings. As suggested in Go's main repo.
# See: https://github.com/golang/go/blob/master/.gitattributes
# Because all the codes in this repo is Go,
# we can simply set all line endings to LF.
* text=auto eol=lf
